@import 'tailwindcss';
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/optional/presets";

/*
  Add your theme import for your theme: "ieeetheme" here
*/
@source "../node_modules/@skeletonlabs/skeleton-svelte/dist";

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source '../node_modules/@skeletonlabs/skeleton/dist/**/*.{html,js,svelte,ts}';

@custom-variant dark (&:is(.dark *));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}

.meta-nav {
	min-height: 40px;
	background: #000000;
	color: #ffffff;
	padding: 0;
	margin: 0;
}

#meta-ieee-logo {
	margin: 0;
	float: right;
}

#meta-ieee-logo .joinIEEE {
	float: right;
	color: #fff;
	padding: 11px 16px;
}

#meta-ieee-logo .joinIEEE:link,
#meta-ieee-logo .joinIEEE:visited,
#meta-ieee-logo .joinIEEE:active {
	color: #fff;
	text-decoration: none;
}

#meta-ieee-logo .joinIEEE:hover {
	color: #fff;
	text-decoration: underline;
}

#meta-ieee-logo img {
	float: right;
}

#meta-ieee-logo img {
	padding: 5px 36px 0 0;
}

@media (max-width: 800px) {
	.meta-nav {
		min-height: 100px;
		background: #000000;
		color: #ffffff;
		padding: 0;
		margin: 0;
	}
	.meta-ieee-logo {
		padding: 20px 0 0 0;
		float: right;
		max-width: 100px;
	}
}

p {
	font-family: inherit;
	font-size: 0.9em;
	line-height: 125%;
	border: 0;
	margin: 0;
}

#ieee-meta-a {
	color: #fff;
	text-align: left;
	padding: 11px 36px;
	float: left;
}

#ieee-meta-a a:link,
#ieee-meta-a a:visited,
#ieee-meta-a a:active {
	color: #fff;
	text-decoration: none;
}

#ieee-meta-a a:hover {
	color: #fff;
	text-decoration: underline;
}
